<h3 mat-dialog-title>Tambah Buku</h3>
<div mat-dialog-content>
  <mat-form-field style="width: 100%;">
    <mat-label>Judul Buku</mat-label>
    <input matInput [(ngModel)]="data.judul">
  </mat-form-field>

  <mat-form-field style="width: 100%;">
    <mat-label>Penulis</mat-label>
    <input matInput [(ngModel)]="data.penulis">
  </mat-form-field>

  <mat-form-field style="width: 100%;">
    <mat-label>Tahun Terbit</mat-label>
    <input matInput [(ngModel)]="data.tahun">
  </mat-form-field>
</div>
<mat-dialog-actions>
  <span class="spacer"></span>
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-raised-button color="primary" [mat-dialog-close]="true" (click)="insert(data)">Save</button>
</mat-dialog-actions>